.progress-bar.color-1 {
    width:85%
}
.progress-bar.color-2 {
    width:65%
}
.progress-bar.color-3 {
    width:70%
}
.progress-bar.color-4 {
    width:75%
}
.progress-bar.color-5 {
    width:65%
}
.progress-bar.color-6 {
    width:85%
}
.progress-bar.color-7 {
    width:75%
}
.progress-bar.color-8 {
    width:90%
}
